body {
  background-color: blueviolet;
}

.main {
  width: 70%;
  text-align: center;
}

.searchbar {
  border-radius: 10px;
}

.emojibox {
  border-radius: 10px;
}

input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}
button {
  width: 10%;
  border: none;
}
